@import 'variables';
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
    &:hover, &:focus, &:active {
        text-decoration: none;
        outline: none;
    }
}

body, html, .wrapper {
    overflow-x: hidden !important;
}
// Overall Wrapper
.wrapper {
    background-color: $light-grey;
    min-height:100vh;
}

// Navbar
.navbar, .menu-items, section, .box-lg {
    display: flex;
}
.navbar {
    min-width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    align-items: center;
    .menu-link {
        margin-left: 20px;
    }
}

// All Sections
section {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: $dark-pink;
    color: $primary;
    outline: none;
    padding: 10px;
    text-align: center;
    border: 1px solid $light-pink;

    &.card-btn {
        position: absolute;
        bottom: -30px;
        right: 35%;
        width: 100px;
    }
}
.box-lg {
    width: 100%;
    height: 90vh;
    box-shadow: $box-shadow;
    align-items: center;
    justify-content: center;
}
.title {
    color: $dark-pink;
}
.box{
    display: flex;
    width: 100%;
    justify-content: center !important;
    flex-direction: column;
    align-items: center !important;
    position: relative;

    .post-link, .post-title {
        position: absolute;
        left: 20px;
    }
    .post-title {
        bottom: 50px;
        color: $primary;
        font-weight: 500;
        line-height: 30px;

    }
    .post-link {
        border-top: 1px solid $light-pink;
        width: 90%;
        bottom: 30px;
    }
}