@import 'variables';
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
    &:hover, &:focus, &:active {
        text-decoration: none;
        outline: none;
    }
}

body {
    overflow-x: hidden;
}
// Overall Wrapper
.wrapper {
    background-color: $light-grey;
    min-height:100vh;
}

// Navbar
.navbar, .menu-items, section {
    display: flex;
}
.navbar {
    min-width: 100%;
    justify-content: space-between;
}

// All Sections
section {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: $dark-pink;
    color: $primary;
    outline: none;
    padding: 10px;
    text-align: center;
    border: 1px solid $light-pink;
}